*{
	box-sizing: border-box;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 24px;
}

.calculator{
	border-spacing: 15px;
	background: #C4C4C4;
}

.btn{
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	background: #F5F5F5;
	cursor: pointer;
	user-select: none;
}

.btn:active{
	filter: brightness(1.3);
}

.act{
	background: #97724F;
}

.spec{
	background: #59B062;
}

#input{
	height: 70px;
	width: 323px;
	color: #F5F5F5;
	background: #292929;
	font-size: 50px;
	text-align: right;
}
